body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343; 
    padding: 12px 16px;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    color: white;
}

.navbar_menu li {
    font-size: 150%;
    padding: 12px 16px;
}

.navbar_icon {
    list-style: none;
    color: white;
    display: flex;
}

.navbar_icon li {
    font-size: 150%;
    padding: 8px 12px;
}

.navbar_menu li:hover {
    background-color: skyblue;
    border-radius: 4px;
}

.navbar .logo_img {
    margin-left: 2rem;
    border-radius: 4px;
    height: 60px;
    width: 100px;
}